:root {
    --first-text-color: #212121;
    --second-text-color: #000000;
    --third-text-color: #FFFFFF;
    --fourth-text-color: #188CE8;
    --fifth-text-color: #2F303A;
    --sixth-text-color: rgba(255, 255, 255, 0.6);
    --seventh-text-color: rgba(117, 117, 117, 0.5);
    --eighth-text-color: rgba(255, 255, 255, 0.6);
    --first-background: #F5F4FA;
    --second-background: rgba(47, 48, 58, 0.8);
    --third-background: rgba(33, 150, 243, 0.9);
    --fourth-background: rgba(0, 0, 0, 0.2);
    --first-border-color: #EEEEEE;
    --second-border-color: #ECECEC;
    --third-border-color: rgba(0, 0, 0, 0.1);
    --fourth-border-color: rgba(33, 33, 33, 0.2);
    --fifth-border-color: rgba(255, 255, 255, 0.3);
    --accent-text-color: #2196F3;
    --main-text-color: #757575;
    --icons-color: #AFB1B8;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --first-background-icons-color: rgba(255, 255, 255, 0.1);
    --first-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                        0px 1px 1px rgba(0, 0, 0, 0.14), 
                        0px 2px 1px rgba(0, 0, 0, 0.2);
    --second-box-shadow:    0px 3px 1px rgba(0, 0, 0, 0.1),    
                            0px 1px 2px rgba(0, 0, 0, 0.08), 
                            0px 2px 2px rgba(0, 0, 0, 0.12);
    --third-box-shadow:     0px 4px 4px rgba(0, 0, 0, 0.15);
    --fourth-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.12),  
                            0px 4px 4px rgba(0, 0, 0, 0.06), 
                            1px 4px 6px rgba(0, 0, 0, 0.16);
    --fifth-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                        0px 1px 1px rgba(0, 0, 0, 0.14), 
                        0px 2px 1px rgba(0, 0, 0, 0.2);
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}



.social-list{
    display: flex;
    justify-content: center;
}

.social-item + .social-item{
    margin-left: 10px;
}

.social-link{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-text-color);
    color: var(--third-text-color);
}

.social-icon{
    fill: currentColor;
}





/* -----------------HEADER---------------- */




header{
    border-bottom: 1px solid var(--second-border-color);
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-text-color);
}

.header-container .logo{
    margin-right: 93px;
}

.header-logo-text{
    color:var(--second-text-color);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-item:not(:last-child),
.contacts-item:not(:last-child){
    margin-right: 50px;
}

.header-list{
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
    color: var(--first-text-color);
}

.header-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color var(--transition);
}

.header-link:hover,
.header-link:focus,
.header-link-active{
    color: var(--accent-text-color);
}

.current{
    position: relative;
}

.current::after{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
    position: absolute;
    left: 0;
    bottom: -32px;
}

.contacts-list{
    display: flex;
    margin-left: auto;
}

.contacts-item-container{
    fill: currentColor;
    margin-right: 10px;
    display: flex;
    align-items: center;
}



/* -----------------HERO---------------- */



.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/background-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, 1600px;
    margin: 0 auto;
    height: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    background-color: var(--accent-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    box-shadow: var(--third-box-shadow);
    border: none;
    transition: background-color var(--transition);
}


.hero-button:hover,
.hero-button:focus{
    background-color: var(--fourth-text-color);
}



/* -----------------OUR ADVANTAGES---------------- */



.properties-list{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.properties-item{
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.properties-item-container{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: var(--first-background);
    border-radius: 4px;
}

.properties-item-title{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--first-text-color);
}

.properties-item-text{
    text-align: left;
    font-family: "Roboto", sans-serif;
}

/* -----------------WHAT WE DO?---------------- */

.doing{
    padding-top: 0;
}

.section-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    color: var(--first-text-color);
}

.doing-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.doing-item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.doing-item-wrap{
    position: relative;
}

.doing-img-text{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding: 27px 82px;
    width: 100%;
    min-height: 70px;
    color: var(--third-text-color);
    background-color: var(--second-background);
}


/* -----------------OUR TEAM---------------- */


.team{
    background-color: var(--first-background);
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-item{
    background-color: var(--third-text-color);
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: var(--first-box-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-item-content{
    padding-top: 30px;
    padding-bottom: 30px
}

.team-item-title{
    font-weight: 500;
    color: var(--first-text-color);
    margin-bottom: 10px;
}

.team-item-text{
    margin-bottom: 16px;
}

.team-item-title,
.team-item-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-social-list{
    display: flex;
    justify-content: center;
}

.team-social-item + .team-social-item{
    margin-left: 10px;
}

.team-item-content .social-link{
    background-color: var(--third-text-color);
    color: var(--icons-color);
    transition: background-color var(--transition), color var(--transition);
}

.team-item-content .social-link:hover,
.social-link:focus{
    background-color: var(--accent-text-color);
    color: var(--third-text-color);
}




/* -----------------CLIENTS---------------- */



.clients-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients-item{
    width: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.clients-item-link{
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--icons-color);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    color: var(--icons-color);
    transition: color var(--transition), border-color var(--transition);
}

.clients-item-link:hover,
.clients-item-link:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
}

.clients-icon{
    fill: currentColor;
}







/* -----------------FOOTER---------------- */


.footer{
    background-color: var(--fifth-text-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list{
    display: flex;
}

.footer-item{
    align-self: baseline;
}

.footer-item:not(:last-child){
    margin-right: 70px;
}

.footer-item:last-child{
    margin-left: auto;
}

.footer .logo{
    margin-bottom: 20px;
    display: block;
}

.address-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-logo-text,
.address-link{
    color: var(--third-text-color);
    font-family: "Roboto", sans-serif;
}

address{
    font-style: inherit;
}

.address-info {
    color: var(--sixth-text-color);
    font-family: "Roboto", sans-serif;
    transition: color var(--transition);
}

.address-info:hover,
.address-info:focus{
    color: var(--third-text-color);
}

.footer-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--third-text-color);
    margin-bottom: 20px;
}

.footer-social-list{
    display: flex;
}

.footer-social-item + .footer-social-item{
    margin-left: 10px;
}

.footer-item-container .social-link{
    background-color: var(--first-background-icons-color);
    color: var(--third-text-color);
    transition: background-color var(--transition);
}



.footer-item-container .social-link:hover,
.footer-item-container .social-link:focus{
    background-color: var(--accent-text-color);
}

.footer-form{
    width: 570px;
}

.subscribe-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-input-email:hover,
.footer-input-email:focus{
    border: 1px solid var(--accent-text-color);
}

.footer-input-email{
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--fifth-border-color);
    height: 50px;
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    color: var(--eighth-text-color);
    transition: border var(--transition);
    outline: none;
}

.footer-input-email::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: var(--eighth-text-color);
}

.footer-form .hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-icon-subscribe{
    margin-left: 10px;
    fill: var(--third-text-color);
}


/* ----------------------------------PORTFOLIO------------------------------------ */



/* ----------------------------------PORTFOLIO BUTTONS------------------------------------ */

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.buttons{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    background-color: var(--first-background);
    transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
}

.buttons:hover,
.buttons:focus,
.current-btn{
    background-color: var(--accent-text-color);
    color: var(--third-text-color);
    box-shadow: var(--second-box-shadow);
}

.filter-item:not(:last-child){
    margin-right: 8px;
}

/* ----------------------------------PORTFOLIO PRODUCTS------------------------------------ */



.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-container{
    padding: 20px 24px 20px 24px;
    border: 1px solid var(--first-border-color);
}

.portfolio-item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    transition: transform 250ms;
}

.portfolio-item-link:hover .portfolio-img-text,
.portfolio-item-link:focus .portfolio-img-text{
    transform: translateY(0);
}

.portfolio-item-link{
    display: inline-block;
    transition: box-shadow 250ms;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus{
    box-shadow: var(--fourth-box-shadow);
}

.portfolio-item-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-img-text{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;
    background-color: var(--third-background);
    color: var(--third-text-color);
}

.portfolio-item-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--first-text-color);
}

.portfolio-item-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.87;
}




/* ----------------------------------MODAL WINDOW------------------------------------ */



.backdrop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--fourth-background);
    transition: opacity 500ms, visibility 500ms ;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 528px;
    min-height: 581px;
    box-shadow: var(--fifth-box-shadow);
    border-radius: 4px;
    background-color: var(--third-text-color);
    padding: 40px;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--third-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.exit-btn-icon{
    transition: fill var(--transition);
}

.modal-close:hover .exit-btn-icon,
.modal-close:focus .exit-btn-icon{
    fill: var(--accent-text-color);
}

.is-hidden{
    opacity: 0;

    pointer-events: none;
    visibility: hidden;
}

.modal-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--first-text-color);
    margin-bottom: 12px;
}

.input-text{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    display: block;
}

.form-field{
    margin-bottom: 10px;
}

.form-input:hover,
.form-input:focus{
    border: 1px solid var(--accent-text-color);
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon{
    fill: var(--accent-text-color);
}

.input-wrap{
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid var(--fourth-border-color);
    border-radius: 4px;
    padding: 0 0 0 42px;
    outline: none;
    transition: border var(--transition);
}

.form-text{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid var(--fourth-border-color);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    transition: border var(--transition);
}

.form-text:hover,
.form-text:focus{
    border: 1px solid var(--accent-text-color);
}

.form-input::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--seventh-text-color);
}


.input-checkbox:checked + .input-chekbox-text .input-checkbox-wraper{
    border: none;
    background-color: var(--accent-text-color);
}

.check-icon{
    fill: transparent;
}

.input-checkbox:checked + .input-chekbox-text .check-icon{
    fill: var(--third-text-color);
}

.input-chekbox-text{
    position: relative;
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.input-checkbox-wraper{
    width: 16px;
    height: 15px;
    border: 2px solid var(--first-text-color);
    border-radius: 4px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-checkbox:focus + .input-chekbox-text .input-checkbox-wraper,
.input-checkbox:hover + .input-chekbox-text .input-checkbox-wraper{
    border: 2px solid var(--accent-text-color);
}

.checkbox-link{
    color: var(--accent-text-color);
    margin-left: 4px;
}

.modal-form .hero-button{
    display: block;
    margin: 0 auto;
}
