.clients-list{
    justify-content: center;
    --card-item: 6;
}

.clients-list__link{
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--icons-color);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    color: var(--icons-color);
    transition: color var(--transition), border-color var(--transition);
    &:hover,
    &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
    }
}

.clients-list__icon{
    fill: currentColor;
}