.doing{
    padding-top: 0;
}

.section-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    color: var(--first-text-color);
}

.doing-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.doing-item{
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.doing-item-wrap{
    position: relative;
}

.doing-img-text{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding: 27px 82px;
    width: 100%;
    min-height: 70px;
    color: var(--third-text-color);
    background-color: var(--second-background);
}