header{
    border-bottom: 1px solid var(--second-border-color);
}



.header-container .logo{
    margin-right: 93px;
}

.header-logo-text{
    color:var(--second-text-color);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-item:not(:last-child),
.contacts-item:not(:last-child){
    margin-right: 50px;
}

.header-list{
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
    color: var(--first-text-color);
}

.header-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color var(--transition);
    &:hover,
    &:focus,
    &-active{
        color: var(--accent-text-color);
    }
}



.current{
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-text-color);
        position: absolute;
        left: 0;
        bottom: -32px;
    }
}


.contacts-list{
    display: flex;
    margin-left: auto;
}

.contacts-item-container{
    fill: currentColor;
    margin-right: 10px;
    display: flex;
    align-items: center;
}