.properties-list{
    text-align: left;
    --card-item: 4;
}

.properties-list__container{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-color: var(--first-background);
    border-radius: 4px;
}

.properties-list__title{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--first-text-color);
}

.properties-list__text{
    text-align: left;
    font-family: "Roboto", sans-serif;
}
