.team{
    background-color: var(--first-background);
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-item{
    background-color: var(--third-text-color);
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: var(--first-box-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-item-content{
    padding-top: 30px;
    padding-bottom: 30px
}

.team-item-title{
    font-weight: 500;
    color: var(--first-text-color);
    margin-bottom: 10px;
}

.team-item-text{
    margin-bottom: 16px;
}

.team-item-title,
.team-item-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-social-list{
    display: flex;
    justify-content: center;
}

.team-social-item{
    & + &{
        margin-left: 10px;
    }
}



.team-item-content .social-link{
    background-color: var(--third-text-color);
    color: var(--icons-color);
    transition: background-color var(--transition), color var(--transition);
    &:hover,
    &:focus{
        background-color: var(--accent-text-color);
        color: var(--third-text-color);
    }
}
