.social-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover, &:focus {
        background-color: var(--accent-text-color);
        color: var(--third-text-color);
    }
}
